/***************************
****************************
Variables
****************************
***************************/

@orange-1: #f26522;
@orange-2: #d7591d;

@gray-1: #71838a;
@gray-2: #5d6b71;
@gray-3: #252525;
@gray-4: #e1e1e1;
@gray-5: #f7f7f7;
@gray-6: #c6cdcf;
@gray-7: #ededed;
@gray-8: #cccccc;

@blue-1: #eef9ff;
@blue-2: #00a2ff;
@blue-3: #ddeef6;

@purple-1: #8e299f;
@purple-2: #5f076e;
@purple-3: #b800ba;
@purple-4: #dd15d6;

@transparentWhite: rgba(255, 255, 255, 0.5);
@transparentWhite-2: rgba(255, 255, 255, 0.2);
@transparentWhite-3: rgba(255, 255, 255, 0.3);
@transparentWhite-4: rgba(255, 255, 255, 0.6);

@transparentBlack: rgba(0, 0, 0, 0.3);
@transparentBlack-2: rgba(0, 0, 0, 0.9);

@medium: ~"(min-width: 993px) and (max-width: 1200px)";
@small: ~"(min-width: 768px) and (max-width: 992px)";
@xs: ~"(max-width: 767px)";

/***************************
****************************
Fonts
****************************
***************************/

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-sbold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/***************************
****************************
Animations
****************************
***************************/

@-moz-keyframes bounce {
  0% {-moz-transform: translateY(0);transform: translateY(0);}
  20% {-moz-transform: translateY(0); transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-moz-transform: translateY(0);transform: translateY(0); }
  60% { -moz-transform: translateY(-15px); transform: translateY(-15px); }
  80% { -moz-transform: translateY(0); transform: translateY(0); }
  100% {-moz-transform: translateY(0); transform: translateY(0); } 
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(0);transform: translateY(0); }
  20% {-webkit-transform: translateY(0);transform: translateY(0); }
  40% {-webkit-transform: translateY(-30px); transform: translateY(-30px); }
  50% {-webkit-transform: translateY(0); transform: translateY(0); }
  60% { -webkit-transform: translateY(-15px); transform: translateY(-15px); }
  80% {-webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(0);transform: translateY(0); } 
}

@-o-keyframes bounce {
  0% { -o-transform: translateY(0);transform: translateY(0); }
  20% {-o-transform: translateY(0);transform: translateY(0); }
  40% {-o-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-o-transform: translateY(0);transform: translateY(0); }
  60% {-o-transform: translateY(-15px);transform: translateY(-15px); }
  80% {-o-transform: translateY(0);transform: translateY(0); }
  100% {-o-transform: translateY(0);transform: translateY(0); } 
}

@-ms-keyframes bounce {
  0% {-ms-transform: translateY(0);transform: translateY(0); }
  20% {-ms-transform: translateY(0);transform: translateY(0); }
  40% {-ms-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-ms-transform: translateY(0);transform: translateY(0); }
  60% {-ms-transform: translateY(-15px);transform: translateY(-15px); }
  80% {-ms-transform: translateY(0);transform: translateY(0); }
  100% {-ms-transform: translateY(0);transform: translateY(0); } 
}

@keyframes bounce {
  0% {transform: translateY(0); }
  20% {transform: translateY(0); }
  40% {transform: translateY(-30px); }
  50% {transform: translateY(0); }
  60% {transform: translateY(-15px); }
  80% {transform: translateY(0); }
  100% {transform: translateY(0); } 
}

.animated {
  -webkit-animation: 1s ease both;
  -moz-animation: 1s ease both;
  -ms-animation: 1s ease both;
  -o-animation: 1s ease both;
  animation: 1s ease both; 
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce; 
}

/***************************
****************************
General Styles
****************************
***************************/

a {
  color: white;
  
  &:hover {
    color: white;
  }
}

a, input {
  &:focus {
    outline:none;
  }
  
  &::-moz-focus-inner {
    border:0;
  }

  &:active,
  &:hover,
  &:focus {
    color: white;
    outline: none;
    text-decoration: none;
  }
}

.my-btn {
  font-family: proxima_novasemibold;
  border-radius: 25px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  cursor: pointer;

  &.btn-1 {
    background-color: white;
    color: @orange-1;

    &:hover {
      color: @orange-2;
    }
  }

  &.btn-2 {
    color: white;
    background-color: @orange-1;

    &:hover {
      background-color: @orange-2;
    }
  }

  &.btn-3 {
    color: @orange-1;
    background-color: @transparentBlack-2;

    &.collapsed {
      color: white;
    }

    &:hover {
      color: @orange-1;
      background-color: black;
    }
  }
}

.link-1 {
  font-family: 'proxima_novasemibold';
  font-size: 14px;
  color: @orange-1;
  text-transform: uppercase;

  &:hover {
    color: @orange-2;
  }
}

.down-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 65px;
  height: 65px;
  display: block;
  text-align: center;
  line-height: 65px;
  color: white;
  font-size: 25px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.play-btn {
  background: url("../images/video.png") no-repeat scroll 0px 0px transparent;
  height: 146px;
  width: 146px;
  display: block;
  text-indent: -9999px;
}

.border {
  border-bottom-width: 1px;
  border-bottom-style: solid;;
  
  &.black {
    border-bottom-color: @transparentBlack;
  }
}

h3 {
  color: @gray-3;
  font-family: 'proxima_nova_rgbold';
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 18px;
}

.general-padding {
  padding: 25px 0;
}

.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}

@media @medium {
  .hide-m {
    display: none !important;
  }

  .show-m {
    display: block;
  }
}

@media @small {
  .hide-s {
    display: none !important;
  }

  .show-s {
    display: block;
  }
}

@media @xs {
  .hide-xs {
    display: none !important;
  }

  .show-xs {
    display: block;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/***************************
****************************
Header Styles
****************************
***************************/

.logo {
  margin: 0;

  a {
    background: url("../images/logo.png") no-repeat 0 0;
    text-indent: -9999px;
    display: block;
    height: 38px;
    width: 186px;
  }
}

#menu {
  ul {
    margin: 0;
    
    li {
      float: left;
      margin: 0 20px;
      line-height: 83px;

      a:not(.my-btn) {
        font-family: proxima_novasemibold;
        color: white;
        text-transform: uppercase;

        -webkit-transition-property: color;
        -o-transition-property: color;
        transition-property: color;

        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;

        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;

        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;

        &:hover {
          color: @orange-1;
        }
      }

      .my-btn {
        line-height: 40px;
        height: 40px;
        width: 168px;
      }
    }
  }
}

#header {
  height: 85px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;

  -webkit-transition-property: background-color, height;
  -o-transition-property: background-color, height;
  transition-property: background-color, height;
  
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;

  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;

  &.dark {
    background: @transparentBlack-2;

    #menu {
      ul {
        li {
          a {
            &.active {
              color: @orange-1;
            }
          }
        }
      }
    }

    .small-header {
      .btn-3 {
        background: white;

        &.collapsed {
          i {
            color: black;
          }
        }
      }
    }
  }

  .logo {
    float: left;
    margin-top: 15px;
  }

  #menu {
    float: right;
  }

  .small-header {
    line-height: 85px;
    height: 100%;

    .btn-1 {
      height: 40px;
      line-height: 40px;
      width: 168px;
    }

    .btn-3 {
      font-size: 25px;
      height: 40px;
      line-height: 40px;
      vertical-align: middle;
      width: 55px;
      margin-left: 10px;

      i {
        vertical-align: middle;
      }
    }
  }
}

#small-nav {
  background-color: @transparentBlack-2;
  position: fixed;
  top: 85px;
  left: 0;
  width: 100%;
  z-index: 100;

  ul {
    margin: 0;

    li {
      border-bottom: 1px solid @transparentWhite-2;

      &:last-child {
        border-bottom: 0;
      }
      
      a {
        line-height: 56px;
        font-family: proxima_novasemibold;
        color: white;
        text-transform: uppercase;
        display: block;
        padding: 0 30px;

        -webkit-transition-property: color;
        -o-transition-property: color;
        transition-property: color;

        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s;

        -webkit-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;

        -webkit-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;

        &:hover {
          color: @orange-1;
        }
      }

      &.small-inquiry {
        margin: 0 -15px;
        
        a {
          padding: 0 45px;
          background-color: white;
          color: @orange-1;

          &:hover {
            color: @orange-2;
          }
        }
      }
    }
  }
}

/***************************
****************************
Slider Styles
****************************
***************************/

.text-wrapper {
  background: 
  url("../images/bg-1.png") no-repeat 50% 0,
  url("../images/bg-1.png") no-repeat 50% 100%;
  text-align: center;
  color: white;
  padding: 40px 0;

  > * {
    margin: 0;
  }

  h1 {
    font-family: 'proxima_nova_rgbold';
    text-transform: uppercase;
    font-size: 60px;

    @media @xs {
      font-size: 36px;
    }

    span {
      font-style: italic;
    }
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

    @media @xs {
      font-size: 18px;
    }
  }

  .play-btn {
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: -73px;
  }
}

#slider {
  position: relative;
  z-index: 97;
  background: url("../images/slider/1.jpg") no-repeat scroll center top / cover white;

  div:not(.text-wrapper) {
    height: 100%;
  }

  .text-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -200px;
    left: 0;
  }

  .down-arrow {
    position: absolute;
    bottom: 27px;
    left: 50%;
    margin-left: -32px;
  }
}

/***************************
****************************
Services Styles
****************************
***************************/

.my-title {
  background-color: white;
  text-align: center;
  padding: 40px 0;

  h2 {
    background: url("../images/dot-1.png") repeat-x scroll 0px 50% transparent;
    margin: 0px 0 10px 0;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    font-size: 25px;
    display: inline-block;
    padding: 0 50px;

    span {
      background-color: white;
      display: inline-block;
      padding: 0 11px;
    }
  }

  h1 {
    font-family: 'proxima_nova_rgbold';
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
  }
}

#services-tabs {
  border-top: 1px solid @blue-3;
  
  ul {
    margin: 0;

    li {
      float: left;
      width: 25%;
      
      a {
        border-top: 4px solid transparent;
        background-color: white;
        font-family: 'proxima_nova_rgbold';
        color: @gray-1;
        font-size: 15px;
        text-transform: uppercase;
        height: 73px;
        line-height: 73px;
        display: block;
        text-align: center;

        > span {
          display: inline-block;
          line-height: 30px;
          padding-left: 45px;
          position: relative;
          text-align: left;
          vertical-align: middle;

          @media @small, @xs {
            padding-left: 0;
          }

          &.two-lines {
            line-height: normal;
          }
          
          i {
            font-size: 30px;
            position: absolute;
            top: 0;
            left: 0;

            @media @small, @xs {
              position: static;
            }
          }
        }

        &:hover {
          color: @gray-2;
        }
      }

      &.active {
        a {
          border-top: 4px solid @blue-2;
          color: @gray-3;
          background-color: @blue-1;

          i {
            color: @blue-2;
          }
        }
      }
    }
  }
}

#services-tabs-content {
  background: url("../images/gradient-1.png") repeat-x 0 0 #FFFFFF;

  .tab-layout {
    color: @gray-3;

    .info {
      position: relative;
      padding: 55px 0;

      @media @small {
        padding: 35px 0;
        
        > img {
          width: 215px;
        }
      }

      @media @xs {
        padding: 35px 0;
        
        > img {
          width: auto;
          max-width: 250px;
        }
      }

      h3 {
        font-size: 22px;
      }

      .text {
        font-size: 14px;
        line-height: 23px;

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.tab-layout-1 {
      .info {
        padding-left: 425px;

        @media @small {
          padding-left: 245px;
        }

        @media @xs {
          padding: 35px 0 270px 0;
        }

        > img {
          position: absolute;
          left: 50px;
          bottom: 0;

          @media @small {
            left: 15px;
          }

          @media @xs {
            left: 50%;
            margin-left: -120px;
          }
        }
      }
    }

    &.tab-layout-2 {
      .info {
        padding-right: 425px;

        @media @small {
          padding-right: 245px;
        }

        @media @xs {
          padding: 35px 0 270px 0;
        }
        
        > img {
          position: absolute;
          right: 50px;
          bottom: 0;

          @media @small {
            right: 15px;
          }

          @media @xs {
            left: 50%;
            margin-left: -120px;
            right: auto;
          }
        }
      }
    }

    .features {
      border-top: 1px solid @gray-4;
      border-bottom: 1px solid @gray-4;

      ul {
        margin: 0;

        li {
          background: url("../images/check-1.png") no-repeat 0 50%;
          line-height: 19px;
          width: 33.33%;
          float: left;
          margin-bottom: 10px;
          font-size: 14px;
          padding-left: 30px;

          @media @small {
            width: 50%;
          }

          @media @xs {
            float: none;
            width: 100%;
          }
        }
      }
    }
  }
}

/***************************
****************************
Clients Styles
****************************
***************************/
#clients {
  background-color: white;

  .client-item {
    text-align: center;
  }
}

#client-images {
  background: url("../images/dot-2.png") repeat-x scroll 0 0 #fff;
  padding-bottom: 2px;
  padding-top: 10px;
  
  .item {
    margin: 0 1px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

/***************************
****************************
Freebies Styles
****************************
***************************/

#freebies {
  background-color: white;
}

.freebies-gallery {
  margin: 0;

  &.mobile {
    .item {
      margin-bottom: 0;
      padding: 0 !important;
    }
  }

  .item {
    float: left;
    width: 33.33%;
    margin-bottom: 30px;
    padding: 0 15px;

    @media @small {
      width: 50%;
    }

    @media @xs {
      width: 100%;
      float: none;
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      padding-right: 0;

      @media @small, @xs {
        padding: 0 15px;
      }
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
      padding-left: 0;

      @media @small, @xs {
        padding: 0 15px;
      }
    }

    @media @small {
      &:nth-child(odd) {
        padding-left: 0;
      }
      
      &:nth-child(even) {
        padding-right: 0;
      }
    }

    @media @xs {
      padding: 0;
    }

    .video-wrapper {
      height: 202px;
      background-color: @gray-1;
      position: relative;
      margin-bottom: 20px;

      > img {
        position: absolute;
        top: 50%;
        margin-top: -31px;
        left: 50%;
        margin-left: -31px;
      }
    }

    h3 {
      font-family: 'proxima_novasemibold';
      font-size: 16px;
    }

    .btn-2 {
      height: 30px;
      line-height: 30px;
      width: 110px;
    }
  }

  .owl-controls {
    margin: 30px 0;
    
    .owl-pagination {
      .owl-page {
        margin: 0 5px;
        
        span {
          background: @gray-8;
          opacity: 1;
          margin: 0;
          height: 15px;
          width: 15px;
        }

        &.active {
          span {
            background: @orange-1;
          }
        }
      }
    }
  }
}

/***************************
****************************
Learn Styles
****************************
***************************/

#learn {
  background-color: @gray-5;

  ul {
    margin-bottom: 0;

    li {
      float: left;
      width: 25%;
      position: relative;
      padding-left: 50px;
      font-size: 18px;
      color: @gray-3;
      font-family: 'proxima_nova_rgbold';
      text-transform: uppercase;
      line-height: normal;

      @media @small, @xs {
        padding-left: 0;
      }

      @media @xs {
        width: 50%;
        text-align: center;
        
        &:nth-child(1),
        &:nth-child(2) {
          border-bottom: 1px solid @gray-7;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
      }

      > span {
        border: 3px solid @gray-6;
        border-radius: 100%;
        color: @gray-6;
        display: block;
        font-size: 20px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        width: 42px;
        position: absolute;
        left: 0;
        top: 0;

        @media @small, @xs {
          position: static;
          margin-bottom: 10px;
        }

        @media @xs {
          margin: 0 auto 10px;
        }

        i {
          vertical-align: text-top;
        }
      }

      .link-1 {
        display: block;
        margin-top: 10px;
      }
    }
  }
}

/***************************
****************************
Footer Styles
****************************
***************************/

#footer {
  background: url("../images/footer-bg.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);

  div:not(.text-wrapper) {
    height: 100%;

    &.bottom {
      color: @transparentWhite;
      bottom: 0;
      height: auto;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;

      p {
        border-top: 1px solid @transparentWhite;
        margin: 0;
        padding: 15px 0;
      }

      .logo {
        margin-bottom: 20px;
        
        a {
          margin: 0 auto;
          opacity: 0.5;
        }
      }
    }
  }

  .text-wrapper {
    background: url("../images/bg-1.png") no-repeat 50% 0;
    position: absolute;
    top: 50%;
    margin-top: -170px;
    width: 100%;
    left: 0;
    padding-bottom: 0;
    font-size: 13px;
    
    h1 {
      font-size: 50px;
      margin-bottom: 15px;

      @media @xs {
        font-size: 40px;
      }
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;

      @media @xs {
        font-size: 17px;
      }
    }

    .btn-1 {
      height: 54px;
      line-height: 54px;
      width: 233px;
      font-size: 17px;
    }
  }
}

/***************************
****************************
Equipment Styles
****************************
***************************/

#equipment-wrapper {
  background: url("../images/gradient-2.png") repeat-x 0 0 @purple-4;

  .my-title {
    background-color: transparent;
    color: white;
    padding: 50px 0;

    h2 {
      background: url("../images/bg-3.png") no-repeat 50% 50%;
      
      span {
        background-color: transparent;
      }
    }
  }

  #equipment-carousel {
    .my-equipment {
      background: url("../images/bg-2.png") repeat-x 0 100%;
      color: white;

      .equipment-carousel {

        .layout {
          padding-bottom: 50px;

          .image-wrapper {
            background: url("../images/glow-1.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
            float: left;
            min-height: 395px;
            text-align: center;
            width: 50%;

            &.padded {
              padding-top: 50px;

              @media @xs {
                padding-top: 80px;
              }
            }

            @media @xs {
              float: none;
              width: 100%;
              padding-bottom: 50px;
            }

            img {
              max-width: 380px;

              @media @small {
                width: 80%;
              }

              @media @xs {
                width: 100%;
              }
            }
          }

          .text {
            font-size: 14px;
            line-height: 23px;
            float: right;
            width: 50%;

            @media @xs {
              float: none;
              width: 100%;
            }

            h3 {
              font-family: 'proxima_novasemibold';
              color: white;
              margin: 0 0 15px 0;
              font-size: 30px;
            }

            p {
              &:last-child {
                margin-bottom: 0;
              }
            }

            ul {
              margin: 30px 0 0 0;

              li {
                background: url("../images/check-2.png") no-repeat 0 50%;
                padding-left: 30px;
                margin-bottom: 10px;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    .directions {
      position: absolute;
      top: 100px;
      width: 47px;
      display: block;
      height: 93px;

      &.prev {
        background: url("../images/prev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        left: 0;
      }

      &.next {
        background: url("../images/next.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        right: 0;
      }
    }
  }
}

.my-equipment-gallery {
  background-color: @purple-3;

  h3 {
    font-family: 'proxima_novasemibold';
    color: white;
    margin: 0 0 25px 0;
    font-size: 20px;
    text-align: center;
  }
  
  .item {
    margin: 0 15px;
    border: 5px solid @purple-2;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .owl-controls {
    margin-top: 22px;
    
    .owl-pagination {
      .owl-page {
        margin: 0 5px;
        
        span {
          background: @transparentWhite-3;
          opacity: 1;
          margin: 0;
          height: 15px;
          width: 15px;
        }

        &.active {
          span {
            background: @transparentWhite-4;
          }
        }
      }
    }
  }
}