/***************************
****************************
Variables
****************************
***************************/

@orange-1: #f26522;
@orange-2: #d7591d;

@gray-1: #71838a;
@gray-2: #5d6b71;
@gray-3: #252525;
@gray-4: #e1e1e1;
@gray-5: #f7f7f7;
@gray-6: #c6cdcf;

@blue-1: #eef9ff;
@blue-2: #00a2ff;
@blue-3: #ddeef6;

/***************************
****************************
Fonts
****************************
***************************/

@font-face {
  font-family: 'proxima_novasemibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-sbold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-bold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-bold-webfont.woff') format('woff'),
  url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/***************************
****************************
Animations
****************************
***************************/

@-moz-keyframes bounce {
  0% {-moz-transform: translateY(0);transform: translateY(0);}
  20% {-moz-transform: translateY(0); transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-moz-transform: translateY(0);transform: translateY(0); }
  60% { -moz-transform: translateY(-15px); transform: translateY(-15px); }
  80% { -moz-transform: translateY(0); transform: translateY(0); }
  100% {-moz-transform: translateY(0); transform: translateY(0); } 
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(0);transform: translateY(0); }
  20% {-webkit-transform: translateY(0);transform: translateY(0); }
  40% {-webkit-transform: translateY(-30px); transform: translateY(-30px); }
  50% {-webkit-transform: translateY(0); transform: translateY(0); }
  60% { -webkit-transform: translateY(-15px); transform: translateY(-15px); }
  80% {-webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(0);transform: translateY(0); } 
}

@-o-keyframes bounce {
  0% { -o-transform: translateY(0);transform: translateY(0); }
  20% {-o-transform: translateY(0);transform: translateY(0); }
  40% {-o-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-o-transform: translateY(0);transform: translateY(0); }
  60% {-o-transform: translateY(-15px);transform: translateY(-15px); }
  80% {-o-transform: translateY(0);transform: translateY(0); }
  100% {-o-transform: translateY(0);transform: translateY(0); } 
}

@-ms-keyframes bounce {
  0% {-ms-transform: translateY(0);transform: translateY(0); }
  20% {-ms-transform: translateY(0);transform: translateY(0); }
  40% {-ms-transform: translateY(-30px);transform: translateY(-30px); }
  50% {-ms-transform: translateY(0);transform: translateY(0); }
  60% {-ms-transform: translateY(-15px);transform: translateY(-15px); }
  80% {-ms-transform: translateY(0);transform: translateY(0); }
  100% {-ms-transform: translateY(0);transform: translateY(0); } 
}

@keyframes bounce {
  0% {transform: translateY(0); }
  20% {transform: translateY(0); }
  40% {transform: translateY(-30px); }
  50% {transform: translateY(0); }
  60% {transform: translateY(-15px); }
  80% {transform: translateY(0); }
  100% {transform: translateY(0); } 
}

.animated {
  -webkit-animation: 1s ease both;
  -moz-animation: 1s ease both;
  -ms-animation: 1s ease both;
  -o-animation: 1s ease both;
  animation: 1s ease both; 
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -ms-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce; 
}

/***************************
****************************
General Styles
****************************
***************************/

a {
  color: white;
  
  &:hover {
    color: white;
  }
}

a, input {
  &:focus {outline:none;}
  &::-moz-focus-inner {border:0;}

  &:active,
  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

.my-btn {
  font-family: proxima_novasemibold;
  border-radius: 25px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;

  &.btn-1 {
    background-color: white;
    color: @orange-1;

    &:hover {
      color: @orange-2;
    }
  }

  &.btn-2 {
    color: white;
    background-color: @orange-1;

    &:hover {
      background-color: @orange-2;
    }
  }
}

.link-1 {
  font-family: 'proxima_novasemibold';
  font-size: 14px;
  color: @orange-1;
  text-transform: uppercase;

  &:hover {
    color: @orange-2;
  }
}

.down-arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  width: 65px;
  height: 65px;
  display: block;
  text-align: center;
  line-height: 65px;
  color: #FFF;
  font-size: 25px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.play-btn {
  background: url("../images/video.png") no-repeat scroll 0px 0px transparent;
  height: 146px;
  width: 146px;
  display: block;
  text-indent: -9999px;
}

.border {
  border-bottom-width: 1px;
  border-bottom-style: solid;;
  
  &.black {
    border-bottom-color: rgba(0, 0, 0, 0.3);
  }
}

h3 {
  color: @gray-3;
  font-family: 'proxima_nova_rgbold';
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: 18px;
}

.general-padding {
  padding: 25px 0;
}

/***************************
****************************
Header Styles
****************************
***************************/

.logo {
  margin: 0;

  a {
    background: url("../images/logo.png") no-repeat 0 0;
    text-indent: -9999px;
    display: block;
    height: 38px;
    width: 186px;
  }
}

#menu {
  ul {
    margin: 0;
    
    li {
      float: left;
      margin: 0 20px;
      line-height: 83px;

      a:not(.my-btn) {
        font-family: proxima_novasemibold;
        color: white;
        text-transform: uppercase;

        &:hover {
          color: @orange-1;
        }
      }

      .my-btn {
        line-height: 40px;
        height: 40px;
        width: 168px;
      }
    }
  }
}

#header {
  height: 85px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;

  .logo {
    float: left;
    margin-top: 15px;
  }

  #menu {
    float: right;
  }
}

/***************************
****************************
Slider Styles
****************************
***************************/

.text-wrapper {
  background: 
  url("../images/bg-1.png") no-repeat 50% 0,
  url("../images/bg-1.png") no-repeat 50% 100%;
  text-align: center;
  color: white;
  padding: 40px 0;

  > * {
    margin: 0;
  }

  h1 {
    font-family: 'proxima_nova_rgbold';
    text-transform: uppercase;
    font-size: 60px;

    span {
      font-style: italic;
    }
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
  }

  .play-btn {
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: -73px;
  }
}

#slider {
  position: relative;
  z-index: 97;
  background: url("../images/slider/1.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);

  div:not(.text-wrapper) {
    height: 100%;
  }

  .text-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -200px;
    left: 0;
  }

  .down-arrow {
    position: absolute;
    bottom: 27px;
    left: 50%;
    margin-left: -32px;
  }
}

/***************************
****************************
Services Styles
****************************
***************************/

.my-title {
  background-color: white;
  text-align: center;
  padding: 40px 0;

  h2 {
    background: url("../images/dot-1.png") repeat-x scroll 0px 50% transparent;
    margin: 0px 0 10px 0;
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    font-size: 25px;
    display: inline-block;
    padding: 0 50px;

    span {
      background-color: white;
      display: inline-block;
      padding: 0 11px;
    }
  }

  h1 {
    font-family: 'proxima_nova_rgbold';
    margin: 0;
    text-transform: uppercase;
    font-size: 40px;
  }
}

#services-tabs {
  border-top: 1px solid @blue-3;
  
  ul {
    margin: 0;

    li {
      float: left;
      width: 25%;
      
      a {
        border-top: 4px solid transparent;
        background-color: white;
        font-family: 'proxima_nova_rgbold';
        color: @gray-1;
        font-size: 15px;
        text-transform: uppercase;
        height: 73px;
        line-height: 73px;
        display: block;
        text-align: center;

        span {
          display: inline-block;
          line-height: 30px;
          padding-left: 45px;
          position: relative;
          text-align: left;
          vertical-align: middle;

          &.two-lines {
            line-height: normal;
          }
          
          i {
            font-size: 30px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        &:hover {
          color: @gray-2;
        }
      }

      &.active {
        a {
          border-top: 4px solid @blue-2;
          color: @gray-3;
          background-color: @blue-1;

          i {
            color: @blue-2;
          }
        }
      }
    }
  }
}

#services-tabs-content {
  background: url("../images/gradient-1.png") repeat-x 0 0 #FFFFFF;

  .tab-layout {
    color: @gray-3;

    .info {
      position: relative;
      padding: 55px 0;
      height: 325px;

      h3 {
        font-size: 22px;
      }

      .text {
        font-size: 14px;
        line-height: 23px;

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.tab-layout-1 {
      .info {
        padding-left: 425px;

        > img {
          position: absolute;
          left: 50px;
          bottom: 0;
        }
      }
    }

    &.tab-layout-2 {
      .info {
        padding-right: 425px;
        
        > img {
          position: absolute;
          right: 50px;
          bottom: 0;
        }
      }
    }

    .features {
      border-top: 1px solid @gray-4;
      border-bottom: 1px solid @gray-4;

      ul {
        margin: 0;

        li {
          background: url("../images/check-1.png") no-repeat 0 50%;
          line-height: 19px;
          width: 33.33%;
          float: left;
          margin-bottom: 10px;
          font-size: 14px;
          padding-left: 30px;
        }
      }
    }
  }
}

/***************************
****************************
Clients Styles
****************************
***************************/
#clients {
  background-color: white;
}

#client-images {
  background: url("../images/dot-2.png") repeat-x 0 0 white;
  padding-top: 10px;
  
  .item {
    margin: 0 1px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

/***************************
****************************
Freebies Styles
****************************
***************************/

#freebies {
  background-color: white;
}

.freebies-gallery {
  margin: 0;

  li {
    float: left;
    width: 33.33%;
    margin-bottom: 30px;
    padding: 0 15px;

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      padding-right: 0;
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
      padding-left: 0;
    }

    .video-wrapper {
      height: 202px;
      background-color: @gray-1;
      position: relative;
      margin-bottom: 20px;

      > img {
        position: absolute;
        top: 50%;
        margin-top: -31px;
        left: 50%;
        margin-left: -31px;
      }
    }

    h3 {
      font-family: 'proxima_novasemibold';
      font-size: 16px;
    }

    .btn-2 {
      height: 30px;
      line-height: 30px;
      width: 110px;
    }
  }
}

/***************************
****************************
Learn Styles
****************************
***************************/

#learn {
  background-color: @gray-5;

  ul {
    margin-bottom: 0;

    li {
      float: left;
      width: 25%;
      position: relative;
      padding-left: 50px;
      font-size: 18px;
      color: @gray-3;
      font-family: 'proxima_nova_rgbold';
      text-transform: uppercase;
      line-height: normal;

      > span {
        border: 3px solid #c6cdcf;
        border-radius: 100%;
        color: #c6cdcf;
        display: block;
        font-size: 20px;
        height: 42px;
        line-height: 42px;
        text-align: center;
        width: 42px;
        position: absolute;
        left: 0;
        top: 0;

        i {
          vertical-align: text-top;
        }
      }

      .link-1 {
        display: block;
        margin-top: 10px;
      }
    }
  }
}

/***************************
****************************
Footer Styles
****************************
***************************/

#footer {
  background: url("../images/footer-bg.jpg") no-repeat scroll center top / cover rgba(0, 0, 0, 0);

  div:not(.text-wrapper) {
    height: 100%;
  }

  .text-wrapper {
    background: url("../images/bg-1.png") no-repeat 50% 0;
    position: absolute;
    top: 50%;
    margin-top: -170px;
    width: 100%;
    left: 0;
    padding-bottom: 0;
    
    h1 {
      font-size: 50px;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .btn-1 {
      height: 54px;
      line-height: 54px;
      width: 233px;
      font-size: 17px;
    }
  }
}